*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container{
    width: 100%;
}

header{
    background-color: #48C5CE;
    text-align: center;
    color: white;
    padding: 10px;
}

.title{
    font-size: 26px;
}

section{
    padding:20px;
    background-image: url(../images/ovelhas-ovinos.jpg);
    background-size: cover;
    overflow: hidden;
}

.formcontainer{
    max-width: 230px;
    background-color:#FFFFFFBB;
    padding:20px;
    float:right;
    
}
h2{
    font-size: 16px;

}

p{
    font-size: 14px;

}

.margin-bottom{
    margin-bottom:15px;
}
.others{
    margin-bottom:5px;
}

input, select{
    width: 100%;
    box-sizing: border-box; /*faz com que o input tenha as mesmas delimitações que o select*/
    padding: 10px;
    border:none;
    border-radius:5px;
    margin-bottom: 10px;
}
input[type=submit]{
    color:white;
    background-color: #48C5CE;
    font-weight: bold;
} /* Será aplicado somente aos inputs estilo submit ou qualquer outro que estivesse entre []*/

select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../images/arrow.jpg');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y:center;
}